<div class="col-8 col-lg-4 offset-lg-4 offset-2 col-sm-12 offset-sm-0" >
<form #loginForm="ngForm" class="p-4" (ngSubmit)="OnSubmit(username.value, password.value)">
  <div class="form-group">
    <i class="material-icons prefix m-1" style="font-size:30px; vertical-align: middle;">
      account_circle
    </i>
    <label class="p-1" for="username">Username:</label>
    <input class="form-control p-1 m-1" type="text" id="username" name="username" #username ngModel placeholder="username"
      required />
  </div>
  <div class="form-group">
    <i class="material-icons prefix m-1" style="font-size:30px; vertical-align: middle;">
      vpn_key
    </i>
    <label class="p-1" for="password">Password:</label>
    <input class="form-control p-1 m-1" type="password" name="password" id="password" #password ngModel placeholder="password"
      required />
  </div>
  <button [disabled]="!loginForm.valid" class="btn btn-primary" type="submit">Login</button>
</form>
</div>